{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
<div class="section">
        <div class="container">
         <a href="{{ path('app_producto_index') }}"><img src="/img/volver3.png"></a>
    <h1>Editar Producto</h1>
    </div>
</div>
    {{ include('producto/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('producto/_delete_form.html.twig') }}

{% endblock %}
