{% extends 'base.html.twig' %}

{% block title %}Ingresar nuevo producto{% endblock %}

{% block body %}
        <div class="section">
        <div class="container">
        <div class="row">
         <div class="col-md-7">
          <div class="billing-details">
         <a href="{{ path('app_producto_index') }}"><img src="/img/volver3.png"></a>
    <h1>Ingresar nuevo producto</h1>

    {{ include('producto/_form.html.twig') }}
                                </div>
                         </div>
                </div>
        </div>
</div>
{% endblock %}
