{% extends 'base.html.twig' %}

{% block title %}Ingresar nuevo producto{% endblock %}

{% block body %}
        <div class="section">
        <div class="container">
         <a href="{{ path('app_producto_index') }}"><img src="/img/volver3.png"></a>
    <h1>Create new Producto</h1>

    {{ include('producto/_form.html.twig') }}

           </div>
</div>
{% endblock %}
