 {% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
 
 <div class="section">
        <div class="container">
    <h1>Crud de productos</h1>

<form method="POST">
    {{ form(formulario) }}
</form>

   </div>
</div>
{% endblock %}