/* menu despegable de perfil usuario navbar */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    margin-bottom: 5px;
  }
  
  /* Modificación para mostrar opciones una debajo de la otra */
  .dropdown-content a {
    display: block;
  }

 /*  tamano crud imagen */

.imgsizecrud{
  width: 10%;
}

.fuentenegra{
  color: black;
}

/* boton borrar */

.btn-delete {
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


.btn-editar {
  background-color: white;
  color: grey;
  border-radius: 20px;
  border: 2px solid grey;
  padding: 10px 20px;
  font-size: 16px;
}

/* div espaciador de botones */

#button-container {
  display: flex;
  justify-content: space-between;
}


/* containers gpt */

.form-container {
  display: flex;
  justify-content: center;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}
